/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background-color: var(--body-color);
}

::selection{
  background-color: var(--primary-color);
  color: #fff;
}


nav {

  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;

}
.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.nav-icon span {
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: #333;
}

.nav-icon img {
  width: 40px;
  transform: rotate(-17deg) translateX(5px);
}



.navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 1px;
  transform: scale(0);
  transform-origin: left;
  background: #333;
  transition: transform 0.3s ease-out;
}
.navlinks-container a:hover::after {
  transform: scaleX(1);
}

.nav-authentication {
  margin-left: auto;
}

.sign-btns button {
  font-family: Roboto Flex, sans-serif;
  font-size: 16px;
  min-width: 90px;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.sign-btns button:nth-child(2) {
  border: none;
  background: rgba(146, 195, 238, 0.718);
}
.user-toggler {
  display: none;
}

@media (max-width: 900px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  /* nav */
  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }
  .main-navlinks {
    order: 1;
    width: auto;
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: var(--body-color);
    top: 100%;
    left: 0;
    transform: translate(-100%);
    height: 100vh;
    padding: 15px 50px 15px 20px;
  }

  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0px;
  }


  .nav-authentication {
    order: 3;
    margin-left: 0;
  }

  .sign-btns {
    display: none;
  }

  .user-toggler {
    display: block;
    cursor: pointer;
    border: none;
  }

  .user-toggler img {
    width: 20px;
  }
}

@media (max-width: 500px) {
  .nav-icon img {
    width: 30px;
  }
  .nav-icon span {
    font-size: 20px;
  }
}

header{
    display: flex;
    justify-content: center;
}

.temperature {
    color: var(--primary-color);
}

.temperature button {
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

.temperature button:hover {
    transform: scale(1.05);
}

.texte {
    padding: 70px 0;
    color: var(--primary-color);
    max-width: 90%;
    margin-left: 10px;
    margin-right: auto;
}

.texte h1 {
    font-size: 75px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.texte a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25rem;
    border: 1px solid var(--body-color);
    color: var(--primary-color);
    padding: 10px 20px;
    margin-right: 30px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo img{
    width: 100px;
}

/* Réalisation (CARD) */
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

/* Services */
.services {
    margin-bottom: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: var(--text-color);
}

.services ul li {
    list-style: none;
}


/* Contact */
footer {
    margin: 0;
    padding: 0;
    margin-left: 750px;
    font-weight: bold;
    position: absolute;
    background: var(--primary-color-light);
}

form {
    padding: 50px;
    border-radius: 10px;
}

form h1 {
    font-size: 30px;
}

form .separation {
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
}

form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .corps-formulaire .groupe {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corps-formulaire .gauche .groupe input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: var(--primary-color);
    border-radius: 5px;
}

form .corps-formulaire .gauche .groupe i {
    position: absolute;
    left: 0;
    top: 25px;
    padding: 16px 8px;
    color: var(--primary-color);
}

form .corps-formulaire .droite {
    margin-left: 50px;
}

form .corps-formulaire .droite .groupe {
    height: 100%;
}

form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid var(--primary-color);
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
}

form .pied-formulaire button {
    margin-top: 20px;
    background-color: var(--primary-color);
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

form .pied-formulaire button:hover {
    transform: scale(1.05);
}

@media screen and (max-width:1440px) {
    footer {
        margin-left: 390px;
    }
    
}

@media screen and (max-width:920px) {
    form .corps-formulaire .droite {
        margin-left: 0px;
        width: 100%;
    }

    form .corps-formulaire .gauche {
        width: 100%;
    }
}

@media screen and (max-width:910px) {
    .services {
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {
    .services {
        display: flex;
        justify-content: flex-start;
        margin-left: 250px;
    }

    footer {
        margin-left: 280px;
    }
}

@media screen and (max-width:425px) {
    
}